body {min-height: 5000px;} 

h1 {
    text-align: center;
    margin: 60px;
}

.boxBar { 
    width: calc(100% - 10px);
    border: 5px solid blue;
    position: fixed;
    top: 0;
    left: 0;
}

.bar {
    height: 20px;
    background: blue;
    width: 0;
}