.dice{
    border: 2px red solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.dot{
    width: 10px;
    height: 10px;
    border: 1px red solid;
    background-color: red;
    border-radius: 10px;
}

#d1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#d2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#d3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#d4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#d4 div {
    display: flex;
    justify-content: space-around;
}

#d5 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#d5 div {
    display: flex;
    justify-content: space-around;
}

#d6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#d6 div {
    display: flex;
    justify-content: space-around;
}

#d3b {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#d3b div:nth-child(1) {
    align-self: baseline;
    margin: 15px;
}

#d3b div:nth-child(3) {
    align-self: flex-end;
    margin: 15px;
}