h1 {
    color: red;
    text-align: center;
    font-size: 35px;
}

h2 {
    color: blue;
    font-size: 25px;
}

p {
    background-color: gray;
}

strong {
    color: black;
    color: greenyellow;
    font-weight: 400;
}

em {
    text-decoration: underline;
    font-style: normal;
    font-size: 18px;
    color: orange;
}

#ultimoArtigo p {
    background-color: pink;
}

#segundoArtigo h2 {
    color: green;
    text-decoration: underline;
    text-align: right;
}