body{
    background-color:lightgray;
}

#content{
    display:flex;
}

#header, #footer, #article{
    text-align:center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    background-color:black;
    color:white;
    padding:1vh 1vw;
}

a:hover{
    background-color:white;
    color:black;
}