img {
    margin: 100px 200px;
    transition: 0.3s;
}

img:hover {
    transform: skewX(40deg);
}

img:active {
    transform: translateX(200px);
}

p {
    transform: scale(0.5) translate(20px) rotate(35deg) skewY(10deg);
}