* {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 163, 101);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

nav {
    margin: 50px;
}

.menu1 {
    display: flex;
    gap: 10px;
}

.menu1 > li, .menu1 > div > li {
    background-color: rgb(0, 46, 11);
    padding: 20px 0;
    max-height: 58px;
}

.menu1 > li:hover,
.menu1 > div > li:hover,
.menu2 > li:hover {
    background-color: rgb(255, 255, 255);
}

.menu1 > li > a,
.menu1 > div > li > a,
.menu2 a {
    padding: 20px;
}

a:hover {
    color: rgb(0, 46, 11);
}

.menu2 > li {
    background-color: rgb(0, 46, 11);
    padding: 18px 0;
}

.depli {
    overflow: hidden;
    display: flex;
}

.menu2 {
    position: absolute;
    display: none;
    flex-direction: column;    margin-top: 20px;
}

.depli:hover .menu2 {
    display: flex;
}