* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #daa520;
    text-align: center;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
}

html {
    background-image: url(Jul.jpg);
    background-size: cover;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 0, 128, 0.247);
    display: flex;
  
}

.yo {
    height: 40vh;
    width: 60vw;
    margin: auto;
    background-color: rgba(34, 50, 194, 0.438);
    box-shadow: -15px -15px 25px rgb(255, 255, 255), 15px 15px 25px rgb(0, 0, 0);
    border-radius: 10px;
}
