.container {
    display: grid;
    grid-template: 1fr 1fr 3fr 1fr / 1fr 2fr 1fr ;
}
h1 {
    margin: auto;
    grid-area: 1 / 1 / 1 / 4;
}
nav {
    margin: auto;
    grid-area: 2 / 1 / 2 / 4;
}
ul { 
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr ;
    gap: 30px;
}
footer {
    font-weight: 800;
    grid-area: 4 / 1 / 4 / 4;
}